{% extends "app/layout.html" %}

{% block links %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/styles/about.css' %}" />

{% endblock %}

{% block content %}

<div id="about-body">
    <div class='about-container'>
        <section class='about-section'>
            <h1><span>Кто</span></h1>
            <p>Мы - компания Pskov Interactive, которая занимается разработкой игр в жанре стратегий разных жанров - от военных пошаговых симуляторов до глобальных в реальном времени с управлением государствами разных эпох.</p>
            <p>У нас не большая, но амбициозная команда профессионалов, любящих свою работу, а также жанр стратегий в компьютерных играх. Потому мы с полной уверенностью готовы представить вам несколько несколько своих продуктов, а также рассказать о будущих.</p>
        </section>
        
        <section class='about-section'>
            <h1><span>Зачем</span></h1>
            <p>Каждый когда-нибудь задумывался над тем, а что бы он сделал, если бы был, скажем главой государства. Или, кто увлекается войной, как поступил в сложной боевой ситуации. А может, вам интересно просто развивать экономику и продвигать вперёд прогресс?</p>
            <p>Во всех перечисленных случаях вам могут понравиться игры жанра "стратегии", которые как раз и представляют собой симуляторы тех или иных ситуаций. И, определённо, вам также стоит обратить внимание на нас - как разработчиков именно таких интересных возможностей.</p>
        </section>
        
        <section class='about-section'>
            <h1><span>Как</span></h1>
            <p>Если вам интересны наши игры и вы хотите узнавать о них больше - читайте наш новостной блог. В нём вы всегда найдёте интересные статьи о том, как продвигается разработка наших игр, о различных нововведениях и исправлениях, усовершенствовании.</p>
            <p>Кроме этого, мы будем иногда выпускать новости и более развлекательного или научно-познавательного характера. Например, исторические статьи на тему, интересные тонкости и особенности наших стратегий, или как выглядит игра глазами разработчика.</p>
        </section>
    </div>

    <div class='about-container'>
        <section class='about-section'>
            <h1><span>Наши контакты</span></h1>
            <address class="about-address">
                <div class="address-link internal-link">
                    <strong>Адрес</strong>
                    <a href="https://yandex.ru/maps/25/pskov/?ll=28.351377%2C57.814494&mode=poi&poi%5Bpoint%5D=28.350683%2C57.814230&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D1146803782&z=17.2">Псков, ул. Льва Толстого, 4</a>
                </div>

                <div class="address-link internal-link">
                    <strong>Телефон</strong>
                    <a href="tel:+712345678">+7 123 456 78</a>
                </div>

                <div class="address-link internal-link">
                    <strong>Поддержка</strong>
                    <a href="mailto:Support@example.com">Support@example.com</a>
                </div>

                <div class="address-link internal-link">
                    <strong>Маркетинг</strong>
                    <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                </div>
            </address>
        </section>
        
        <section class='about-section'>
            <h1><span>Прочие ссылки</span></h1>
            <address class="about-address">
                <div class="address-link">
                    <strong>Код сайта</strong>
                    <a href='https://github.com/WhiteRain7/MMV-web-programming'>Исходный код сайта</a>
                </div>

                <div class="address-link development-link">
                    <strong>Разработка</strong>
                    <a href='https://vkplay.ru/about/promo'>VK Play</a>
                </div>

                <div class="address-link development-link">
                    <strong>Разработка</strong>
                    <a href='https://unity.com/ru/how-to/beginner-video-game-resources'>Unity</a>
                </div>

                <div class="address-link development-link">
                    <strong>Разработка</strong>
                    <a href='https://habr.com/ru/hub/gamedev/'>Разработка игр - тема на habr</a>
                </div>

                <div class="address-link development-link">
                    <strong>Разработка</strong>
                    <a href='https://godotengine.org/'>Godot</a>
                </div>
            </address>
        </section>
    </div>
</div>

{% endblock %}
