{% extends "app/layout.html" %}

{% block links %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/styles/video.css' %}" />

{% endblock %}

{% block content %}

<section class="section-video">
    <h1 id="video-label-1">Pskov Interactive</h1>

    {% load staticfiles %}
    <video src="{% static 'assets/videos/PI.mp4' %}" controls="controls" aria-labelledby="video-label-1" aria-describedby="video-description-1"></video>

    <details id="video-description-1">
        <summary>Расшифровка видео</summary>
        <p>Pskov Interactive - небольшая, но амбициозная компания, занимающаяся созданием современных компьютерных игр в жанре "стратегии".</p>
        <p>Мы создаем игры разной тематики - от военных пошаговых симуляторов до глобальных в реальном времени с управлением государствами разных эпох.</p>
        <p>В настоящее время у нас есть 3 основных проекта.</p>
        <p>"Священная Римская империя" - игра о государствах и политике средневековья и Новой эры.</p>
        <p>"Восстание Юга" позволяет переписать историю Гражданской войны в Америке 1861-1865 годов.</p>
        <p>И "Терраформирование Марса", основанное на одной из величайших вех будущего - превращении Красной планеты в наш новый дом.</p>
        <p>Если вас заинтересовали наши игры и вы хотите узнать о них больше, присоединяйтесь к нам и читайте наш новостной блог.</p>
    </details>
</section>

<section class="section-video">
    <h1 id="video-label-2">Rise of South</h1>
    
    {% load staticfiles %}
    <video src="{% static 'assets/videos/RoS.mp4' %}" controls="controls" aria-labelledby="video-label-2" aria-describedby="video-description-2"></video>

    <details id="video-description-2">
        <summary>Расшифровка видео</summary>
        <p>"Rise of South" - наша первая компьютерная игра, которую вы увидите и в которую будете играть из всех наших проектов. Pskov Interactive почти закончила его разработку.</p>
        <p>Эта игра о Гражданской войне в Америке 1861-1865 годов. Здесь вам представится возможность изменить ход истории!</p>
        <p>В этой игре представлены богатые политические и экономические решения и, конечно же, военные.</p>
        <p>Чаще всего вы будете видеть стратегическую карту США там, где будете принимать свои главные решения и управлять страной и армией. Это пошаговая фаза.</p>
        <p>Но иногда вам придется вступать в бой самостоятельно на тактической карте с управлением в реальном времени.</p>
        <p>Присоединяйтесь к нам и читайте наши новости, чтобы не пропустить бета-тест "Rise of South".</p>
        <p>"Независимость превыше всего"</p>
    </details>
</section>

{% endblock %}
