/* about.html */

.about_sec {
    max-width: 800px;
    margin: 30px 10px 30px 30px;
    padding: 10px;
    border-top: 1px solid var(--clr-btn-back);
    border-bottom: 1px solid var(--clr-btn-back);
    border-left: 5px solid var(--clr-btn-back);
    border-radius: 10px 0 0 10px;
    background: linear-gradient(to right, var(--clr-semiback), transparent 80%);
}

.about_sec > * {
    max-width: 600px;
    background: inherit;
}

.about_sec > h1 {
    font-size: 120%;
}

.about_sec > p {
    margin-top: 5px;
}
