* {
    --clr-back: #FFFFF4;
    --clr-semiback: #EEEEDD;
    --clr-highlighted: #DDDDCC;
    --clr-active: #CCCCBB;
    --clr-text: #485467;
    --clr-btn-back: #485467;
    --clr-btn-back-hovered: #687487;
    --clr-btn-text: #FFFFEE;
    --clr-warning: #881100;
    --clr-post-date: #C0C0C0;
    --clr-post-title: #FFCC44;

    --svg-inline-size: 24px;

    font-family: sans;
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: var(--clr-text);
    border-color: var(--clr-text);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--clr-back);
}

#MAIN {
    margin-top: 100px;
    margin-bottom: 150px;
    position: relative;
}

#site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    border-bottom: 3px solid;
    background-color: var(--clr-semiback);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    z-index: 1000;
}

#site-header > nav {
    height: 100%;
    line-height: 100%;
    margin: 0;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#site-menu {
    display: none !important;
    width: fit-content !important;
    height: 64px !important;
    background: fixed var(--clr-semiback) !important;
    cursor: pointer;
    transition: 1s;
}
#site-menu:hover {
    background: fixed var(--clr-highlighted) !important;
}
#site-menu:active {
    background: fixed var(--clr-active) !important;
}

#site-header > nav > a {
    height: 100%;
    line-height: 100%;
    margin: 0;
    padding: 0 10px;
    border-bottom: 3px solid transparent;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    transition: .25s;
}
#site-header > nav > a:hover, #site-header > nav > a[now] {
    background-color: var(--clr-highlighted);
    border-bottom: 3px solid var(--clr-warning);
}
#site-header > nav > a:active {
    background-color: var(--clr-active);
}

#site-header > #login-block {
    padding: 0 10px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}

#site-header > #login-block div {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 42px;
    padding: 0 4px 0 8px;
    margin-right: 10px;
    border-right: 4px solid var(--clr-btn-back);
    border-radius: 12px;
    background-color: var(--clr-highlighted);
}

#site-header > #login-block div > * {
    display: inline-block;
}

#site-header > #login-block div > img {
    margin-left: 4px;
    border-radius: 10px;
}

.ver-separator {
    width: 1px;
    height: 100%;
    background-color: var(--clr-highlighted);
}

#site-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 20px);
    height: 50px;
    padding: 10px;
    background-color: var(--clr-semiback);
    border-top: 2px solid;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 500;
}

#site-footer a {
    text-decoration: none;
    cursor: pointer;
    transition: .25s;
}
#site-footer a:hover {
    text-shadow: var(--clr-text) 0 0 20px;
}

::-webkit-scrollbar {
    width: 10px;
    border-left: 1px solid var(--clr-text);
    border-right: 1px solid var(--clr-text);
    background-color: var(--clr-highlighted);
}
::-webkit-scrollbar-thumb {
    background-color: var(--clr-text);
    border-radius: 10px;
}

.hidden {
    display: none !important;
}

.inline-svg {
    display: inline-block;
    width: var(--svg-inline-size);
    height: var(--svg-inline-size);
}

.click-btn {
    display: inline-block;
    min-height: 44px;
    padding: 4px 20px;
    color: var(--clr-btn-text);
    background-color: var(--clr-btn-back);
    border: 1px solid var(--clr-btn-text);
    border-radius: 12px;
    transition: .25s;
    cursor: pointer;
}
.click-btn:hover {
    background-color: var(--clr-btn-back-hovered);
}
.click-btn:active {
    color: var(--clr-btn-back);
    background-color: var(--clr-btn-text);
    border: 1px solid var(--clr-btn-back);
}

@media screen and (max-width: 920px) {
    #site-header {
        overflow: hidden;
        transition: .5s;
    }

    #login-block {
        height: 64px !important;
    }

    #site-header > nav {
        width: 100%;
        height: max-content;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #site-menu {  display: flex !important; }
    #nav-delimiter { display: none !important; }
    #site-header > nav > a:has(img) { display: none !important; }

    #site-header > nav > a {
        width: 100%;
        height: 32px;
        border-bottom: 3px solid transparent !important;
        border-left: 3px solid transparent;
    }
    #site-header > nav > a:hover, #site-header > nav > a[now] {
        background: linear-gradient(to right, var(--clr-highlighted), transparent);
        border-left: 3px solid var(--clr-warning);
    }
    #site-header > nav > a:active {
        background: linear-gradient(to right, var(--clr-active), transparent);
    }

    #site-header:has(a:hover) {
        animation-name: menu;
        animation-duration: .5s;
        animation-fill-mode: forwards;
    }

    @keyframes menu {
        from {
            height: 64px;
        }
        99% {
            height: 290px;
        }
        to {
            height: max-content;
        }
    }
}
