.video_sec {
    width: 90%;
    max-width: 940px;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    background-color: var(--clr-semiback);
    border-radius: 20px;
}

.video_sec > h1 {
    width: 100%;
    font-size: 150%;
    text-align: center;
    margin-bottom: 10px;
}

.video_sec > video {
    width: 100%;
    border-radius: 10px;
}
