#manage-container {
    box-sizing: border-box;
    width: calc(100% - 40px);
    max-width: 1200px;
    padding: 20px;
    margin: 20px auto;
}

.manage-section {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background: var(--colour-back);
    color: var(--colour-front);
}

.manage-section > h1 {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--colour-contrast-decoration-back);
    font-size: 150%;
    text-align: center;
}



.manage-table {
    border-collapse: separate;
    border-spacing: 6px;
    width: 100%;
    margin-top: 30px;
}

.manage-table caption {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--colour-contrast-decoration-back);
    font-size: 150%;
    text-align: center;
}

.manage-table :is(th, td) {
    padding: 4px 8px;
    border-radius: 6px;
}

.manage-table thead th {
    background: var(--colour-contrast-decoration-back);
    color: var(--colour-contrast-decoration-front);
    text-align: center !important;
    vertical-align: middle !important;
}

.manage-table tbody th {
    background: var(--colour-pale-decoration-back);
    color: var(--colour-pale-decoration-front);
    text-align: center !important;
    vertical-align: middle !important;
}

.manage-table td {
    background: var(--colour-pale-decoration-back);
    color: var(--colour-pale-decoration-front);
}


.order-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    box-sizing: border-box;
    width: 100%;
    height: 54px;
    padding: 4px;
    border-radius: 8px;
    background: rgba(0, 0, 0, .1);
    color: var(--colour-front);
}
.order-item:not(:first-child) {
    margin-top: 6px;
}

.order-item-figure {
    width: 46px;
    height: 46px;
    border-radius: 6px;
    overflow: hidden;
}
.order-item-image {
    width: 46px;
    height: 46px;
    border-radius: 6px;
    object-fit: cover;
    overflow: hidden;
}

.order-item-info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    box-sizing: border-box;
    height: 100%;
    padding-right: 10px;
    background: transparent;
}

.order-item-name {
    color: var(--colour-contrast-decoration-back);
    font-size: 120%;
    font-weight: bold;
}

.order-item-price mo {
    margin-inline: 6px;
}


.order-status {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    width: 90%;
    margin: auto;
}

.order-status-button {
    width: 100%;
    padding: 4px 8px;
    border-radius: 8px;
    background: var(--colour-contrast-decoration-back);
    color: var(--colour-contrast-decoration-front);
    font-size: 110%;
    text-align: center;
    cursor: pointer;
    transition: .25s;
}
.order-status-button:hover {
    filter: brightness(1.1);
}
.order-status-button:active {
    filter: brightness(.9);
}

.order-status-button.other {
    background: var(--colour-backdrop) !important;
    color: #666;
}


#manage-scroll-to-top {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 20px;
    padding: 10px;
    border-radius: 666px;
    font-size: 0;
    background: var(--colour-complementary-back);
    fill: var(--colour-complementary-front);
    box-shadow: 0 1px 3px 0 var(--colour-complementary-soft);
    user-select: none;
    cursor: pointer;
    transition: .25s;
    z-index: 100;
}
#manage-scroll-to-top:hover {
    filter: brightness(1.15);
}
#manage-scroll-to-top:active {
    filter: brightness(.85);
}
#manage-scroll-to-top:not(.shown) {
    opacity: 0;
    pointer-events: none;
}


@media screen and (max-width: 600px) {
    #manage-container {
        width: calc(100% - 16px);
        padding: 8px;
        margin: 8px;
    }

    .manage-section {
        padding: 4px;
    }

    .manage-table,
    .manage-table thead,
    .manage-table tbody,
    .manage-table tr,
    .manage-table th,
    .manage-table td {
        display: block;
        box-sizing: border-box;
        width: 100% !important;
        margin-bottom: 4px;
    }

    .manage-table tr {
        border-bottom: 4px solid var(--colour-contrast-decoration-back);
    }

    #order-dialog-title {
        font-size: 120%;
    }
 
    #order-dialog-statuses {
        display: block !important;
    }

    .order-status-button {
        margin-bottom: 4px;
    }
}



.delete-td {
    width: 40px;
    text-align: center;
    vertical-align: top;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: var(--colour-contrast-negative-back);
    fill: var(--colour-contrast-negative-front);
    transition: .3s;
    cursor: pointer;
}
.delete-button:hover {
    filter: brightness(1.1);
}
.delete-button:active {
    filter: brightness(.9);
}


@media screen and (max-width: 600px) {
    .delete-button {
        width: 100%;
    }
}
