#section-no-games {
    width: 100%;
    max-width: 600px;
    padding-top: 50px;
    color: var(--colour-soft);
    font-size: 120%;
    text-align: center;
}
#section-no-games > p {
    margin-bottom: 20px;
}


#store {
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: auto;
    position: relative;
}


.store-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 8px;
    background: var(--colour-back);
    color: var(--colour-front);
    box-shadow: 0 4px 20px 0 #888;
    transition: .25s;
}
.store-item:hover {
    box-shadow: 0 4px 20px 0 #444;
}

.store-info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    box-sizing: border-box;
    width: 100px;
    max-height: 120px;
    padding: 8px;
    overflow: hidden;
    position: relative;
}

.store-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.store-title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0 10px;
    font-size: 130%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
}

.store-point-delimiter {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 666px;
    background: #AAA;
}

.store-status {
    display: inline-block;
    color: #888;
    font-size: 14px;
    font-style: italic;
}

.store-description {
    display: block;
    position: absolute;
    top: 32px;
    left: 6px;
    box-sizing: border-box;
    width: calc(100% - 6px);
    height: calc(100% - 40px);
    padding: 0 50px 0 0;
    background: inherit;
    color: inherit;
    font-size: 14px;
    overflow: hidden;
    transition: .5s;
    z-index: 100;
}
.store-item:hover .store-description {
    transform: translateX(10px);
    opacity: 0;
    pointer-events: none;
}

.store-details :is(th, td) {
    padding: 3px 20px 0 3px;
    border-right: 10px solid transparent;
    text-align: left;
    vertical-align: middle;
}
.store-details th {
    border-bottom: 1px solid var(--colour-soft);
    color: var(--colour-soft);
    font-size: 90%;
}
.store-details td {
    color: var(--colour-contrast-decoration-back);
    font-size: 110%;
}

.store-empty {
    display: flex;
    flex-grow: 1;
    width: 0;
    height: 0;
    background: transparent;
}

.store-price-block {
    display: inline-block;
    box-sizing: border-box;
    width: 140px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.store-price-block > * {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 140px;
    height: 40px;
    transition: .25s;
}

.store-price {
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: 10px;
    color: var(--colour-contrast-positive-back);
    font-size: 140%;
    font-weight: bold;
    cursor: default;
    z-index: 1;
}

.store-buy {
    translate: 0 100%;
    clip-path: none;
    z-index: 4;
}

.store-cancel {
    translate: 0 100%;
    clip-path: none;
    z-index: 4;
}

.store-price-block:not(.added):hover .store-buy {
    translate: 0;
}

.store-price-block.added:hover .store-cancel {
    translate: 0;
}

.store-price-block.added .store-price::after {
    content: 'добавлено';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    color: inherit;
}

@keyframes bought {
    from { translate: 0 100%; }
    16% { translate: 0 0; }
    84% { translate: 0 0; }
    to { translate: 0 100%; }
}


.store-game-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    gap: 20px;
    width: 100%;
    margin-bottom: 50px;
}

.store-game {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.store-game .store-info {
    max-height: 240px;
}

.store-game .store-image {
    width: 240px;
    height: 240px;
}

.store-game .store-title {
    font-size: 200%;
}

.store-game .store-description {
    top: 44px;
    height: calc(100% - 96px);
}


.store-DLC .store-point-delimiter {
    background: var(--colour-contrast-magenta);
}
.store-DLC .store-status {
    color: var(--colour-contrast-magenta);
}


.store-accessory-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    gap: 20px;
    width: 100%;
}


.timeline-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    user-select: none;
    cursor: default;
}

.timeline-navigator {
    height: 30px;
    position: relative;
}
.timeline-navigator > time {
    display: block;
    position: absolute;
    bottom: 6px;
    left: var(--local-left);
    transform: translateX(-50%);
    background: inherit;
    color: var(--local-colour);
    font-weight: bold;
}
.timeline-navigator > time::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: calc(100% + 14px);
    background: var(--local-colour);
}

.timeline-navigator > time:first-child { transform: translateX(-100%); padding-right: 2px; }
.timeline-navigator > time:first-child::after { left: 100%; }
.timeline-navigator > time:last-child { transform: translateX(0); padding-left: 2px; }
.timeline-navigator > time:last-child::after { left: 0; }

.timeline-navigator > span {
    display: block;
    position: absolute;
    bottom: 0;
    left: var(--local-left);
    width: calc(var(--local-right) - var(--local-left));
    height: 24px;
    background: rgba(128, 128, 128, .25);
}

.timeline-row > td {
    height: 30px;
    color: var(--local-colour);
    position: relative;
}
.timeline-row > td:not(.included) > time,
.timeline-row > td:not(.included)::after,
.timeline-row > td:not(.included)::before {
    opacity: .3;
}
.timeline-row > td::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    background: var(--local-colour);
}
.timeline-row > td:not(:first-child)::after {
    content: '';
    display: block;
    position: absolute;
    right: 100%;
    top: 3px;
    transform: translate(50%, -50%);
    width: 2px;
    height: 14px;
    background: var(--local-colour);
}

.timeline-row > td > time {
    position: absolute;
    right: 100%;
    top: calc(50% + 3px);
    transform: translate(50%, -50%);
    font-size: 16px;
    font-weight: bold;
}

.timeline-row > td > dfn {
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    padding: 3px 6px;
    border-radius: 6px;
    color: var(--local-colour);
    font-size: 16px;
    white-space: nowrap;
    pointer-events: none;
    transition: .25s;
    z-index: 2;
}
.timeline-row > td:not(:hover) > dfn {
    opacity: 0;
    translate: 0 10px;
}


#store-scroll-to-top {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 20px;
    padding: 10px;
    border-radius: 666px;
    font-size: 0;
    background: var(--colour-complementary-back);
    fill: var(--colour-complementary-front);
    box-shadow: 0 1px 3px 0 var(--colour-complementary-soft);
    user-select: none;
    cursor: pointer;
    transition: .25s;
    z-index: 100;
}
#store-scroll-to-top:hover {
    filter: brightness(1.15);
}
#store-scroll-to-top:active {
    filter: brightness(.85);
}
#store-scroll-to-top:not(.shown) {
    opacity: 0;
    pointer-events: none;
}


@media screen and (max-width: 1100px) {
    .store-accessory-group {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 800px) {
    .store-game-group {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }

    .store-accessory-group {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    .store-item {
        box-sizing: border-box;
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .store-item {
        flex-direction: column;
    }

    .store-image {
        width: 100% !important;
        height: auto !important;
        max-height: 300px;
        object-fit: cover;
    }

    .store-info {
        gap: 4px !important;
        width: 100% !important;
        max-height: none !important;
        padding: 2px;
    }

    .store-title {
        padding: 0 6px;
        flex-wrap: wrap;
        white-space: wrap;
    }

    .store-description {
        position: static;
        width: 100% !important;
        height: fit-content !important;
        padding: 6px;
        transform: none !important;
        translate: none !important;
        opacity: 1 !important;
        overflow: visible;
    }

    .store-empty {
        display: none;
    }


    .store-price-block {
        width: 100%;
    }

    .store-price-block > :is(.store-buy, .store-cancel) {
        right: 0;
        left: auto;
    }
    
    .store-price-block:not(.added) .store-buy {
        translate: 0;
    }
    
    .store-price-block.added .store-cancel {
        translate: 0;
    }
}

@media screen and (max-width: 650px) {
    .timeline-table {
        display: block;
    }

    .timeline-table > tbody {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-self: stretch;
        gap: 0;
    }

    .timeline-table > tbody > tr:first-child {
        display: flex;
        flex-grow: 1;
    }


    .timeline-navigator {
        width: 100%;
        height: 100%;
        overflow: visible;
    }
    .timeline-navigator > time {
        top: var(--local-top);
        right: 10px;
        left: auto;
        bottom: auto;
        transform: translateY(-50%);
        width: fit-content !important;
        height: fit-content !important;
        padding: 0 !important;
    }
    .timeline-navigator > time::after {
        top: 0;
        right: 100%;
        left: auto !important;
        bottom: auto !important;
        width: 200px;
        height: 100%;
        padding: 0 !important;
        background: transparent;
        transform: none !important;
        translate: none !important;
    }
    
    .timeline-navigator > time:first-child {
        padding-bottom: 2px;
        border-bottom: 2px solid var(--local-colour);
        transform: translateY(-100%);
    }
    .timeline-navigator > time:first-child::after {
        border-bottom: 2px dashed var(--local-colour);
    }

    .timeline-navigator > time:last-child {
        padding-top: 2px;
        border-top: 2px solid var(--local-colour);
        transform: translateX(0);
    }
    .timeline-navigator > time:last-child::after {
        border-top: 2px dashed var(--local-colour);
        transform: translateY(-2px) !important;
    }
    
    .timeline-navigator > span {
        left: auto;
        right: 10px;
        top: var(--local-top);
        bottom: calc(100% - var(--local-bottom));
        width: 100px;
        height: auto;
        background: linear-gradient(to left, rgba(128, 128, 128, .25), rgba(128, 128, 128, .25) 30px, transparent);
    }


    .timeline-row {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0;
        box-sizing: border-box;
        width: fit-content !important;
        padding-left: 10px;
    }

    .timeline-row > td {
        box-sizing: border-box;
        width: fit-content !important;
        height: 44px !important;
        padding: 4px 4px 4px 7px;
        border: none;
        transform: none;
    }
    .timeline-row > td::before {
        width: 3px;
        height: 100%;
    }
    .timeline-row > td:not(:first-child)::after {
        top: 0;
        left: 0;
        width: 14px;
        height: 2px;
        transform: translateY(-50%);
    }

    .timeline-row > td > time {
        position: static;
        transform: none;
    }
    .timeline-row > td > time::after {
        content: ' год';
        font-size: 80%;
    }

    .timeline-row > td > dfn {
        display: block;
        position: static;
        padding: 0;
        opacity: 1 !important;
        transform: none !important;
        translate: 0 !important;
    }
    .timeline-row > td:not(.included) > time,
    .timeline-row > td:not(.included)::after,
    .timeline-row > td:not(.included)::before,
    .timeline-row > td:not(.included) > dfn {
        opacity: .2 !important;
    }
}
