{% extends "app/layout.html" %}

{% block links %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/about.css' %}" />

{% endblock %}

{% block content %}

<section class='about_sec'>
    <h1>Наши контакты</h1>
    <address>
        Россия, Псковская обл., г. Псков<br />
        ул. Льва Толстого, 4<br />
        <abbr title="Телефон">Т:</abbr>
        +7 123 456 78 90
    </address>
</section>

<section class='about_sec'>
    <h1>Прочие ссылки</h1>
    <address>
        <strong>Поддержка:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Маркетинг:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a><br />
        <strong>Код сайта:</strong> <a href='https://github.com/WhiteRain7/MMV-web-programming'>Исходный код сайта</a><br />
        <strong>Разработка:</strong> <a href='https://vkplay.ru/about/promo'>VK Play</a><br />
        <strong>Разработка:</strong> <a href='https://unity.com/ru/how-to/beginner-video-game-resources'>Unity</a><br />
        <strong>Разработка:</strong> <a href='https://habr.com/ru/hub/gamedev/'>Разработка игр - тема на habr</a><br />
        <strong>Разработка:</strong> <a href='https://godotengine.org/'>Godot</a><br />
    </address>
</section>

{% endblock %}
