{% extends "app/layout.html" %}

{% block links %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/login.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/content/forms.css' %}" />

{% endblock %}

{% block content %}

<section id="loginForm" class="input_form">
    <form action="." method="POST" class="form-horizontal">
        {% csrf_token %}
        
        {% if form is not None %}
        <h4>Оставьте отзыв об игре, чтобы её улучшить!</h4>
        {% else %}
        <h4>Спасибо за отзыв!</h4>
        {% endif %}
        <hr />

        <div class="form-group">
            <label for="id_game">{% if form is not None %}<span style="color: #FF0000">*</span>{% endif %}Выберите игру:</label>
            <div>
                {% if form is not None %}{{ form.game }}
                {% else %}{{ data.game }}
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label for="id_mark">{% if form is not None %}<span style="color: #FF0000">*</span>{% endif %}Выберите оценку от 1 до 10:</label>
            <div>
                {% if form is not None %}{{ form.mark }}
                {% else %}{{ data.mark }}
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label for="id_details_good">Укажите, что нравится в игре:</label>
            <div>
                {% if form is not None %}{{ form.details_good }}
                {% else %}{{ data.good }}
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label for="id_details_bad">Укажите, что не нравится в игре:</label>
            <div>
                {% if form is not None %}{{ form.details_bad }}
                {% else %}{{ data.bad }}
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label for="id_email_allowed">Со мной можно связаться:</label>
            <div>
                {% if form is not None %}{{ form.email_allowed }}
                {% else %}
                    {% if data.email == '<email not allowed>' %}нет
                    {% else %}да
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div id="div_contact" class="form-group" {% if form is not None %}style="display: none !important"{% endif %}>
            <label for="id_contact">Почта для связи по доп. вопросам:</label>
            <div>
                {% if form is not None %}{{ form.contact }}
                {% else %}
                    {% if data.email == '<email not allowed>' %}-
                    {% else %}{{ data.email }}
                    {% endif %}
                {% endif %}
            </div>
        </div>

        {% if form is not None %}
        <div class="form-group">
            <label><span style="color: #FF0000">*</span> - поле обязательно для заполнения</label>
        </div>

        <div class="form-group">
            <input type="hidden" name="next" value="/" />
            <input type="submit" value="Отправить" class="click-btn" />
        </div>
        {% endif %}

        {% if form.errors %}
        <div class="form-group form-warning">
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-svg" viewBox="0 96 960 960"><path d="M479.982 776q14.018 0 23.518-9.482 9.5-9.483 9.5-23.5 0-14.018-9.482-23.518-9.483-9.5-23.5-9.5-14.018 0-23.518 9.482-9.5 9.483-9.5 23.5 0 14.018 9.482 23.518 9.483 9.5 23.5 9.5ZM453 623h60V370h-60v253Zm27.266 353q-82.734 0-155.5-31.5t-127.266-86q-54.5-54.5-86-127.341Q80 658.319 80 575.5q0-82.819 31.5-155.659Q143 347 197.5 293t127.341-85.5Q397.681 176 480.5 176q82.819 0 155.659 31.5Q709 239 763 293t85.5 127Q880 493 880 575.734q0 82.734-31.5 155.5T763 858.316q-54 54.316-127 86Q563 976 480.266 976Zm.234-60Q622 916 721 816.5t99-241Q820 434 721.188 335 622.375 236 480 236q-141 0-240.5 98.812Q140 433.625 140 576q0 141 99.5 240.5t241 99.5Zm-.5-340Z"/></svg>
            <p>пожалуйста, перепроверьте форму</p>
        </div>
        {% endif %}
    </form>
</section>

{% endblock %}


{% block scripts %}

{% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
<script defer type="application/javascript">
    document.getElementById('id_mark'   ).setAttribute('placeholder', 'оценка')
    document.getElementById('id_contact').setAttribute('placeholder', 'введите email')

    let select = document.getElementById('id_game')
    let option = document.createElement('option')
    option.setAttribute('value', '-1')
    option.setAttribute('selected', 'selected')
    option.innerText = 'Выберите игру'
    select.insertBefore(option, select.firstChild)
</script>

{% endblock %}
