{% extends "app/layout.html" %}

{% block links %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/styles/forms.css' %}" />
{% endblock %}


{% block scripts %}
    {% load staticfiles %}
    <script src="{% static 'assets/scripts/jquery.validate.min.js' %}"></script>
{% endblock %}


{% block content %}
    <form action="." method="POST" enctype="multipart/form-data" id="form-container" class="regular-block">
        {% csrf_token %}

        <h1 id="form-title">{% block title %}{% endblock %}</h1>

        <div id="form-fields">
            {% block fields %}{% endblock %}
        </div>

        {% block errors %}{% endblock %}

        <button type="submit" class="standalone-button">
            {% block submit %}{% endblock %}
        </button>
    </form>
{% endblock %}
