{% extends "app/layout.html" %}

{% block links %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/styles/index.css' %}" />
{% endblock %}

{% block content %}
    <section id="section-company" class="regular-block">
        <figure id="section-company-logo" aria-hidden="true">
            {% load staticfiles %}
            <img src="{% static 'assets/favicon-192x192px.png' %}" width='192px' height='192px' alt='PI logo' title="Pskov Interactive">
        </figure>

        <hgroup id="section-company-text">
            <h1>Pskov Inter&shy;active</h1>
            <i>Компания по разработке компьютерных игр в жанре "стратегии"</i>
        </hgroup>

        <menu id="section-company-games">
            {% for game in games %}
            <li role="menuitem" class="section-company-game" title="{{ game.name }}">
                <a href="/news/{{ game.tag }}/" class="section-company-game-content serif-styled">
                    <img src="{{ game.image.url }}" alt="{{ game.tag }}" role="figure" width="80px" height="80px" aria-hidden="true" />
                    <span>{{ game.name }}</span>
                </a>
            </li>
            {% endfor %}
        </menu>
    </section>

    <section id="section-carousel" class="regular-block" role="marquee">
        <div id="carousel">
            <button id="carousel-left" onclick="carousel_left()"><span>«</span></button>
            <div id="carousel-content" class="serif-styled">
                {% for article in articles %}
                <figure role="figure" style="display: none">
                    <img src="{{ article.image.url }}" alt="{{ article.title }}" />
                    <figcaption>{{ article.title }}</figcaption>
                    <a href="/news/article/{{ article.id }}" class="inline-button organic-neutral">далее »</a>
                </figure>
                {% endfor %}
            </div>
            <button id="carousel-right" onclick="carousel_right()"><span>»</span></button>
        </div>
    </section>

    <section id="section-description">
        <div class="text-block regular-block">
            <h1 class="contrast-extra">Кто мы</h1>
            <hr class="contrast-extra" />
            <p>Мы - компания Pskov Interactive, которая занимается разработкой игр в жанре стратегий разных жанров - от военных пошаговых симуляторов до глобальных в реальном времени с управлением государствами разных эпох.</p>
            <hr class="contrast-extra" />
            <p>У нас не большая, но амбициозная команда профессионалов, любящих свою работу, а также жанр стратегий в компьютерных играх. Потому мы с полной уверенностью готовы представить вам несколько несколько своих продуктов, а также рассказать о будущих.</p>
            <hr class="contrast-extra" />
            <p>Подробнее о нашей компании можно узнать в специальном разделе "о нас".</p>
            <hr class="contrast-extra" />
            <a href="/about/" class="inline-button contrast-extra">подробнее о нас</a>
        </div>
    </section>

    <aside id="section-right" role="complementary">
        <section class="text-block regular-block">
            <h1>Новости разработки</h1>
            <hr />
            <p>У нас есть собственная лента новостей, посвящённая процессу разработки наших игр, интересным материалам по ним, а также прочих других вещах.</p>
            <hr />
            <p>На данный момент в разработке находится 3 разных стратегии - Holy Roman Empire, Terraforming Mars и Rise of South, каждая из которых достойна вашего внимания! Мы уверены, что вам понравятся все эти игры, а также наши новости по ним.</p>
            <hr />
            <a href="/news/" class="inline-button">наши новости</a>
        </section>

        <section class="text-block regular-block">
            <h1>Rise of South - на пути к бета тесту</h1>
            <hr />
            <p>Если вы активно следите за новостями по игре Rise of South, то новая новость вам определённо понравится - мы скоро откроем бета-тестирование!</p>
            <hr />
            <p>Все подробности в нашей ленте новостей.</p>
            <hr />
            <a href="/news/article/3" class="inline-button">новость о RoS</a>
        </section>
    </aside>

    <aside id="section-left" role="complementary">
        <section class="text-block regular-block">
            <h1>Отзывы</h1>
            <hr />
            <p>Помните, что вы всегда можете оставлять свои отзывы по нашим играм в специальном разделе.</p>
            <hr />
            <p>Отзыв можно оставить не только по выпущенным играм, и тем более не обязательно иметь к ним доступ - мы также принимаем любые ваши пожелания и предложения, которые мы обязательно постараемся учесть при разработке.</p>
            <hr />
            <p>Если у вас есть хорошие идеи и вы хотите сделать наш проект лучше - напишите об этом прямо сейчас!</p>
            <hr />
            <a href="/feedback/">
                <input type="button" class="inline-button" value="оставить отзыв">
            </a>
        </section>
    </aside>
{% endblock %}
