<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Сайт компании {{ company_title }}, выпускающей компьютерные игры и новости по ним." />
    <meta name="keywords" content="компьютерные игры, стратегии" />
    <meta name="author" content="Макаров М.В." />

    {% if page_title %}<title>Pskov Interactive - {{ page_title }}</title>
    {% else %}<title>Pskov Interactive</title>{% endif %}

    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'assets/styles/common/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/styles/common/colours.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/styles/common/site.css' %}" />
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/favicon-192x192px.png' %}" />
    <link rel="manifest" href="{% static 'assets/manifest.json' %}" />
    {% block links %}{% endblock %}

    <script type="text/javascript" src="{% static 'assets/scripts/site.js' %}"></script>
    <!-- <script src="{% static 'assets/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'assets/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'assets/scripts/respond.js' %}"></script> -->
    {% block scripts %}{% endblock %}
</head>

<body>
    <div id="page">
        {% include 'app/components/header.html' %}
    
        <main role="main" id="main">
            {% block content %}
            <aside role="complementary">
                <p>Здесь ничего нет. Возможно, Вы неправильно указали адрес ссылки.</p>
                <a href="{% url 'home' %}">Вернуться на главную</a>
            </aside>
            {% endblock %}
        </main>
    
        <!-- {% include 'app/components/footer.html' %} -->
    </div>
</body>
</html>
