{% extends "app/layout.html" %}

{% block links %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/posts.css' %}" />

{% endblock %}

{% block content %}

<div id="tags" role="menu">
    <a href="/posts"><span>убрать</span></a>
    {% for game_tag in tags %}
    <div class="ver-separator"></div>
    <a href="/posts/{{ game_tag.tag }}" role="menuitem" style="background-color: {{ game_tag.colour }};">
        <span>#{{ game_tag.tag }}</span>
    </a>
    {% endfor %}
</div>

<div id='posts'>
    {% for post in posts %}
    <article class="post">
        <div>
            <a href="/posts/{{ post.about.tag }}" style="background-color: {{ post.about.tag_colour }};">#{{ post.about.tag }}</a>
            <img src="{{ post.image.url }}" alt="" />
        </div>
        <h2>{{ post.posted }}</h2>
        <h1><span>{{ post.title }}</span></h1>
        <p>{{ post.description }}</p>
        <a href="/blogpost/{{ post.id }}"><span>читать далее »</span></a>
    </article>
    {% endfor %}
</div>

{% endblock %}
